/*Your styles*/

#content {
  margin-right:   auto;
  margin-left:    auto;
  vertical-align: middle;
  width:          100%;
}

/*
Those classes will be edited at runtime with values specified
by the settings of the CC application
*/
.hostFontColor {
}

.hostFontFamily {
}

.hostFontSize {
}

/*font family, color and size*/
.hostFont {
}

/*background color*/
.hostBgd {
}

/*lighter background color*/
.hostBgdLight {
}

/*darker background color*/
.hostBgdDark {
}

/*background color and font*/
.hostElt {
}

.hostButton {
  border:         1px solid;
  border-radius:  2px;
  height:         20px;
  vertical-align: bottom;
  font-family:    inherit;
  color:          inherit;
  font-size:      inherit;
}

#txt_fld {
  position:       absolute;
  top:            0;
  right:          0;
  bottom:         0;
  left:           0;
  margin:         5px;
  font-size:      12pt;
  text-transform: none;
  margin-bottom:  50px;
  width:          485px;
  resize:         none;
}

#btn_div {
  position:    absolute;
  bottom:      5px;
  margin-left: 5px;
}

label {
  margin-left: 5px;
}

input[type=number] {
  border:        1px solid;
  border-radius: 2px;
  height:        19px;
  width:         50px;
  margin:        0;
  padding:       0;
  text-align:    center;
  font-weight:   bold;
  font-size:     1.1em;
}

input[type=checkbox] {
  opacity:  1;
  display:  inline-block;
  position: relative;
  margin:   3px 0 0 -1px;
}

p {
  margin-bottom: 5px;
}

